.help-block {
  color: red;
}

.background {
    background-color: #3f51b5;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex: '1 0 auto';
}

.signup {
    max-width: 400px;
}